[2018-03-29 13:30] filipenevola opened #1 "webpack_plugin.js:74:31: webpack is not defined"
Hello, thank you for your package :wink: it will be very nice to use webpack with Meteor.

I have a pretty standard React project with Meteor and I tried to follow the README steps but I got this error:
[code]

Do you have any idea of what can be wrong on my code?

[2018-03-29 13:35] filipenevola opened #2 "error: unknown package in top-level dependencies: ardatan:webpack-dev-middleware"
Hello, I can't find this package `ardatan:webpack-dev-middleware` on atmospherejs
https://atmospherejs.com/?q=webpack-dev-middleware

I tried to run your React example and got this error:
[code]
Maybe you still have to publish it?

[2018-03-29 13:46] ardatan commented on #1
Did you install webpack from npm?

[2018-03-29 14:55] filipenevola commented on #1
Yes, I did globally and using the project's package.json (the recommended way).

[2018-03-29 16:36] ardatan commented on #1
Could you try it to add webpack as dependency instead of devDependencies. Please let me know if there is any update

[2018-03-29 17:00] filipenevola commented on #1
Maybe you need to add
[code]
to your package.js?

[2018-03-29 17:32] ardatan commented on #1
Oh sorry, it is my mistake. I am using `webpack` as peerdependency in my package to make developers free to use any version of webpack with this atmosphere package. I think I published the old version of package, so I changed the version and re-published them.
Now you can check again by updating packages by `meteor update`.
Please let me know if anything changes.

[2018-03-29 17:48] filipenevola commented on #2
It's solved! :wink:

I'm testing the process overall, probably I'll get back here soon with more questions

Thanks again!

[2018-03-29 17:48] #2 closed

[2018-03-29 17:49] ardatan commented on #1
Could you run it successfully?

[2018-03-29 17:51] ardatan commented on #2
Thank you I am waiting for your feedback!

[2018-03-29 18:17] aliogaili opened #4 "Error resolving module imports"
Thanks for the interesting package!

I'm running into the following error:
[code]
The ./server/main.js has the following line:

`import '/imports/startup/server';
`

Any idea what might be causing this?  I think it might be due to the absolute paths since in the examples we've relative paths.

[2018-03-29 18:25] aliogaili commented on #4
Ah I've the same setup and I'm also using .js extensions instead of .jsx.

However we're using absolute imports everywhere so it'll be major refactoring, perhaps I can test it on a smaller project until you do your refactoring.

[2018-03-29 18:31] filipenevola commented on #4
I'm doing the same, starting on a smaller project, but if we can make it work, it'll be a major win for Meteor community :wink:

[2018-03-29 18:45] ardatan commented on #4
Thank you for all your support :) I think same with you. Meteor community needs this kind of packages to keep Meteor alive and growing.
After that, I will try to reproduce your problem. Also I am now working on creating test environment with Webpack and make this package support test tools like Karma etc.

[2018-03-29 18:48] aliogaili commented on #4
Thanks @ardatan!

I'm curious though, how is this package different from the [existing older](https://atmospherejs.com/webpack/webpack) one on atmosphere?

[2018-03-29 19:04] filipenevola opened #5 "HMR is working but not always"
Hello, I'm testing HMR with your react example project, on Chrome.

It's working the first time and after it stops to work then I need to refresh the page (reload), sometimes even it is not making my changes appear then I need to clean the storage of the application because even with server restart it continues to show the same content.

Are you experiencing this too? Have you tested it in a bigge

[2018-03-29 19:07] filipenevola opened #6 "Problem with some libraries and @babel/runtime"
Hello, I'm trying to run a small/medium size app and for that I need to start to use .jsx files (I was using only .js files) and I had to only use relative imports (I was using /imports sometimes) but even with these changes I'm not able to run my project yet.

I'm having errors with material ui icons and react tunnels, I think webpack is not loading those, the icons can be because of svg extensio

[2018-03-29 20:05] ardatan commented on #6
Are you sure you have installed @babel/runtime in your project?
I’ll try to reproduce your problem when I got home.

[2018-03-30 17:46] filipenevola commented on #6
Hello, yes, I'm sure!

Any news? Do you need help?

[2018-03-31 14:24] ardatan commented on #4
You can use `webpack.config.js` resolve configuration settings to use similar path in your imports.

[2018-04-01 15:49] filipenevola commented on #5
Hello @ardatan , I think this one is the most critical one because we need to be sure it's working very well in this small example to continue to improve it and make it work in bigger projects.

Please let me know if I can help you.

[2018-04-05 15:45] ardatan commented on #5
Hello @filipenevola we need to specify the problem.

[2018-04-05 15:45] ardatan commented on #6
Can you reproduce a repo for this problem?

[2018-04-10 00:06] ardatan commented on #5
@filipenevola
Could you check out new example for react?

[2018-04-14 19:16] mikaelwecode opened #7 "production ready?"
Hello!

Thanks for creating this! The reload time with meteor is really annoying! specially for the frontend.

Just tried to migrate a medium sized meteor and react project.
And it worked pretty good! (If I find som issue I will submit them. )

I was thinking if this is production ready? Can I make a production build?

I use galaxy for my deploy.

[2018-04-14 19:34] ardatan commented on #7
Thank you for your good comment and collaboration.
There are some known issues in development mode, but I didn't experience any problems in production mode. So you can try to use it with galaxy. If you experience any problems, please open an issue. I will help as soon as possible I can.

[2018-04-14 21:02] mikaelwecode commented on #7
Ok. So I just make a production version off my webpack.config.js and it should be enough?

[2018-04-14 21:48] ardatan commented on #7
You don’t need any extra config for production.

[2018-04-15 07:30] mikaelwecode commented on #7
But when I run meteor deploy with --settings and with the same webpack.config.js (same as the react example). The react version is running in debug mode.

Sorry, I dont know webpack so well. :)

[2018-04-15 13:12] filipenevola commented on #5
Hello, sorry for my late response, I'm in the middle of a trip, anyway, it's working better now, I was able to do multiple changes on the client but after my first change on the server, I need to refresh the browser to start to see changes on the client again.

Is that expected?

Good job! It's getting better what is great.

[2018-04-15 14:38] filipenevola commented on #6
Hello, I was able to get rid of the babel/runtime error updating to the latest but I'm not able to make the files with react be load properly and with rest operator too, looks like the webpack config + babel config is not being fully loaded.

I saw that in your react example you are using older versions of some dependencies, like
    "babel-preset-env": "^1.6.1",
    "babel-preset-react": "^6.24.1

[2018-04-15 16:49] mikaelwecode commented on #5
Hello.
I experience the same when I update code in the in the imports/api folder. But I also got this error in the console
"[HMR] Update check failed: SyntaxError: Unexpected token < in JSON at position 0". I am Trying the React example.

[2018-04-15 19:39] ardatan commented on #7
You're doing right :)

[2018-04-15 19:46] ardatan commented on #5
Actually, it shouldn't refresh like Meteor CLI does because nothing changes in client, but it is a little bit different in our case. When server restarts, we lose HMR connection once. And it doesn't reconnect like Meteor CLI does. I am still trying to figure out this. I think I need some trick in case of server refresh.

[2018-04-15 19:46] ardatan commented on #6
I am not very good at React bunding, so the example may be a little old ( I cloned Meteor's official example : ) )
I will try to reproduce that issue.

[2018-04-15 19:49] ardatan opened #8 "Zero configuration support"
This package should support the scenerio when the project doesn't include any `webpack.config`, it should automatically generate a configuration file for webpack in order to support zero-configuration like Meteor aims.

[2018-04-15 20:54] mikaelwecode commented on #7
I had to set

`new webpack.DefinePlugin({
      'process.env.NODE_ENV': JSON.stringify('production')
    })`

In the plugins array in config.js  :)

and when deploy production to galaxy I hade to set NODE_ENV=production before the meteor deploy script!

Thanks! :)

I will keep trying more when there is time. Really love the idea with hotreload and webpack for Meteor!

[2018-04-22 09:45] Gywem commented on #5
Today, I have tried the approach mentioned above. Making Meteor to ignore all changes via `.meteorignore` works fine, however triggering by code a Meteor server restart isn't.

What I tried so far is:
- Enable the server configuration to create the bundle on the disk filesystem, within a `dist/server` folder, in order to "react" on any change and restart the server. While any explicit modification

[2018-04-22 09:53] ardatan commented on #5
Hello @Gywem,
Thanks for your `.meteorignore` idea. I used this to prevent triggering Meteor's bundler.
Then I did several changes on `webpack-dev-middleware` package;

- I added server compiler to webpack-dev-middleware like client compiler.

- Now it clears publish and method handlers before executing last compiled server bundle, then executes. So, it works similar way on server-side with HMR on

[2018-04-22 13:15] Gywem commented on #5
Feels like a neater approach you accomplished. Really excited to see it on code and understand better how Webpack bundler works. Thanks a lot! 😄

[2018-04-26 10:29] ardatan commented on #5
The server-side code can benefit HMR like client-side without Meteor's slow recompilation of `already webpack-compiled code`.
I will document this on `README`.
The solution is to add `.meteorignore` which has almost all directories such as `server/`, `client/` and `imports/` except `webpack.config.js` to restart webpack in case of change in configuration, then adding
[code]
for both client and ser

[2018-04-26 10:30] ardatan commented on #7
I am closing this issue. If you experience any issues in production, you can open a new issue about the case.

Thanks!

[2018-04-26 10:30] #7 closed

[2018-04-26 10:31] ardatan commented on #6
Do you have any update on this issue?

[2018-04-26 10:31] ardatan commented on #4
I am closing this issue. If you experience any problems, please open a new issue.

Thanks!

[2018-04-26 10:31] #4 closed

[2018-04-26 17:58] Gywem commented on #5
This sounds amazing!

I've set the basic configuration for the react example in a fork, https://github.com/Gywem/meteor-webpack/tree/test-server-reload.

The only thing I've noted is that any change on server code is not taking effect on the refresh the app. I guess that is because the meteor server is not reloaded and then doesn't have the new code to display. Have you sorted out a way to inject

[2018-04-26 19:48] Gywem commented on #5
Thanks!

Not sure why but after pulling changes from `0.0.3_1` version, I get:
<img width="726" alt="todo list 2018-04-26 21-45-52" src="https://user-images.githubusercontent.com/2581993/39328339-5b51657e-499b-11e8-98d5-57419f4f74f1.png">

Did the last release include other kind of changes? I just noted that some meteor packages upgraded. Not sure if that would be related. I'll look deeper into th

[2018-04-27 23:11] royGil opened #9 "Examples are not working after new release"
The examples are not working,

<img width="726" alt="39328339-5b51657e-499b-11e8-98d5-57419f4f74f1" src="https://user-images.githubusercontent.com/28781165/39400066-b2b199b4-4b31-11e8-8a1a-3a432ea6fbc0.png">

I could make it work by updating webpack and related packages to their latest version but then this error is thrown:

![screenshot from 2018-04-28 22-17-36 1](https://user-images.githubuserco

[2018-04-28 17:25] Gywem commented on #5
I have solved the problem I mentioned previously by downgrading the emacscript version from `0.10.8` to the previously used `0.10.7`. Then I have got the issue reported here, https://github.com/ardatan/meteor-webpack/issues/9. We may move the discussion there for such. But what about the one that is solved by getting back the `emacscript`, do you happen to know why happens?

[2018-04-28 19:10] royGil commented on #5
@Gywem

Just update webpack and related packages to their latest version

[2018-04-28 20:34] ardatan commented on #9
Server-side HMR injects new server-side code with the same publications and methods; then existing ones make conflict. That's why, it deletes the existing ones.

[2018-04-28 20:48] royGil commented on #9
Sorry but I'm not sure I understand you.
I was able to run everything correctly when iv'e used the change in the PR.

Meteor **does** include the publications and methods, but after it recompiles it's not including those who are loaded by **external packages** (i.e: accounts-password).

Did I miss anything?

[2018-04-28 21:01] ardatan commented on #9
Meteor restarts the server in every change, but our package just injects the new code.
For example, you change your existing publication or method, our package will inject it; but Meteor will throw an error like `There is already a publication named 'todos'`. To prevent this, I was deleting all publications and methods.
Please let me know if it is clear.

[2018-04-28 21:32] ardatan commented on #9
@royGil you're right, we need a solution for this problem as well :)

[2018-04-28 21:40] royGil commented on #9
@ardatan
I'll investigate this abit and will update later..

Anything that comes to your mind about a proper solution?

[2018-04-29 00:36] royGil commented on #9
Check #12 and let me know what you think.

[2018-04-29 10:02] #9 closed

[2018-04-29 10:07] #5 closed

[2018-04-29 10:07] #6 closed

[2018-05-03 08:56] qqcky commented on #9
@ardatan Hi! Thank you for convenient way to use webpack for angular. I would like to use it in my project, but faced with same problem on Angular example. How can I avoid this issue?

[2018-05-03 14:06] ardatan commented on #9
@qqcky Thank you for your interest :) Please feel free to open an issue about your problem

[2018-05-10 11:36] mtmetra opened #14 "React example does not work"
Since version 0.0.4_6 the React example renders nothing in the web browser (chrome).
The web server seems to work properly.

[2018-05-10 12:05] royGil commented on #14
Working fine for me..
Did you try the current version of the example?

[2018-05-10 12:09] mtmetra commented on #14
Yes, but updating the ardatan:webpack version of the react example to 0.0.4_8.

[2018-05-10 13:46] ardatan commented on #14
I was working on path declarations in order to detect the output files in virtual file system, so `dev-server` package doesn't work in case of different path definitions (outputPath), because it just looks absolute root path. So, it looks `contentBase` and `output.path` definitions instead.

[2018-05-10 13:49] ardatan opened #15 "Accounts hooks broken after re-compilation"
`webpack-dev-server` package handles methods and publications by keeping native ones and deleting rest, but Accounts hooks are not overwritten but duplicated in every re-compilation. So it causes `accounts` methods might become broken (login, resetPassword etc...). In this case, `devServer` can be removed in `serverConfig` as a workaround.
`Accounts.validateLoginAttempt` and `Accounts.validateNewU

[2018-05-10 13:55] mtmetra commented on #14
Now it works fine.
Thanks.

[2018-05-10 13:55] #14 closed

[2018-05-10 14:41] royGil commented on #15
Does it happen with other packages too?
And what do you mean by **the accounts package becomes broken**? Can you give an example?

[2018-05-10 14:51] ardatan commented on #15
For example;
Accounts.validateLoginAttempt is a callback hook, and this method registers a new hook when you call it like;
[code]
But if you do this twice, it will register two callbacks for single hook. Unfortunately, it doesn't override the existing one.
When our package reruns the projects, it registers same function as a different hook in every recompilation. Then, two or more duplicate hooks

[2018-05-10 15:09] royGil commented on #15
Well, that's really weird - do you have any idea what causes this to happen?

Seems like we have to find a way to "clean" the server between recompilations

[2018-05-12 20:33] mtmetra opened #18 "meteor bundle does not always work"
After generating a meteor bundle using the command **meteor build**, the generated web uses to fail the first time I run the app in the browser. Then, after reloading the app pressing F5, the web works properly.
Every time I open a new web browser and load the bundle app, the described behaviour repeats (fails the first page load but after reload with F5 it works fine).
This behaviour has been obs

[2018-05-12 22:08] ardatan commented on #18
First of all, thank you for your contribution.
`GALAXY_NODE_OPTIONS` is required for Galaxy deployment `meteor deploy`, it is not necessary for `meteor build` command.
Could you share more information such as console errors if exist etc?

[2018-05-13 06:59] mtmetra commented on #18
The console output is the following:

Uncaught ReferenceError: Package is not defined
    at Object.<anonymous> (main.js:1)
    at S (main.js:1)
    at r (main.js:1)
    at Object.<anonymous> (main.js:33)
    at S (main.js:1)
    at main.js:1
    at main.js:1

I attach also the main.js file (renamed to main.txt):
[main.txt](https://github.com/ardatan/meteor-webpack/files/1998200/main.txt)

[2018-05-14 00:44] royGil commented on #18
Arda, do you have an idea of why this is happening?

Also, what was the last version of this package that did manage to build successfully? maybe we can start there..

[2018-05-14 21:39] ardatan commented on #18
Your workaround shouldn't be the way of we use Meteor packages. I handled it via `defer` parameter.
https://github.com/ardatan/meteor-webpack/commit/4634bd87393f325fca846715a15fc3aa717f68b7#comments
You can check here, please try again and let me know if the problem still occurs.

[2018-05-14 21:44] royGil commented on #18
Didn't think about the "defer" parameter - well done!

And sure, I didn't propose it as a solution, just wanted to share that it's an order-loading problem..

[2018-05-14 21:45] ardatan commented on #18
@royGil Yes, it was great to remind me about `defer` parameters. Thanks a lot!

[2018-05-15 05:41] mtmetra commented on #18
Now the meteor build version works perfectly for the client.
Thank you very much.

[2018-05-15 06:46] mtmetra commented on #18
Excuse me, but...
Now (with version 0.0.5_1) the development version (meteor run) of the react example does not work.
I always get the following exception in the browser console:
`Uncaught ReferenceError: Package is not defined
    at eval (eval at meteor/meteor (app.js:1425), <anonymous>:1:18)
    at Object.meteor/meteor (app.js:1425)
    at __webpack_require__ (app.js:712)
    at fn (app.js:95)

[2018-05-16 05:44] mtmetra commented on #18
The source code is just the one generated by the **react example** with **meteor run**.
The html rendered in the browser is:
[main.html.txt](https://github.com/ardatan/meteor-webpack/files/2007639/main.html.txt)
and the app.js is:
[app.js.txt](https://github.com/ardatan/meteor-webpack/files/2007640/app.js.txt)

[2018-05-17 03:39] lnmunhoz commented on #18
Hi @ardatan, got the same error here.
I've just ran the React example, and got `Package is not defined`.

[2018-05-17 04:12] ardatan commented on #18
Actually the thing is the execution order of the script. HtmlWebpackPlugin puts all bundles in index.html except meteor’s. However, we send that index.html but somehow Meteor puts its boilerplate at the end of the body. So, we are using a workaround to handle this by adding async parameter for each script tag. This doesn’t work on your environments. I am still working on this, I don’t want to make

[2018-05-17 05:07] lnmunhoz commented on #18
@ardatan Sure will do! Thanks for replying.

Currently I'm trying to use in my project in production, and in the `main.js` file I am trying to:
[code]

But getting the same error with `Package`. Have any idea of a workaround?

[2018-05-17 05:48] mtmetra commented on #18
Now, with versión 0.0.5_3, the development version of the react example (meteor run) works fine, but the production version (meteor run --production) exhibits the same problems originally exposed in this issue: first load on browser does not work but succesive ones do work.

[2018-05-17 07:54] ardatan commented on #18
Finally! I found a solution about this async issue.
As the compiler gets `index.html` from webpack, it scans for `script` tags to collect scripts from there. Then, it sends these script to Meteor after removing these `script` element from `index.html`; and Meteor adds them after its scripts. This must solve your issue that I couldn't face so far :) However, it is possible because the browser might

[2018-05-17 08:48] mtmetra commented on #18
Now it works perfect, both development and production versions.
Thank you very much.

[2018-05-17 08:49] ardatan commented on #18
Finally, I found a solution about this async issue.
As the compiler gets index.html from webpack, it scans for script tags to collect scripts from there. Then, it sends these script to Meteor after removing these script element from index.html; and Meteor adds them after its scripts. This must solve your issue that I couldn't face so far :) However, it is possible because the browser might load th

[2018-05-17 08:51] ardatan commented on #18
We can close the issue now
Thanks for your contribution to make this project better 👍

[2018-05-17 08:51] #18 closed

[2018-05-17 08:54] lnmunhoz commented on #18
@ardatan I was having an issue where I depends on `FlowRouter` to load my routes, but the app was trying to access the route before anything, so I was getting `route not found` but right after that my routes were loaded.

I tried to wrap my imports Meteor.startup, but the issue continue, but looks like there's an initial load that is out of my control, so the app is starting before Meteor.startup,

[2018-05-17 09:26] ardatan commented on #18
It will be perfect, if you reproduce a repo 👍

[2018-05-17 10:12] lnmunhoz commented on #18
@ardatan I've modified the react example so you can take a look :) https://github.com/lnmunhoz/meteor-webpack

[2018-05-20 00:56] dhamaniasad opened #19 "Importing Blaze templates?"
Hi. First of all, I'd like to thank you for making this package. I've searched far and wide and am so extremely grateful to have stumbled across this project when I did.

I'm new to Webpack having never used it before. How would one go about importing a Blaze template into the client entry point?

Importing the html file throws this error:
[code]

[2018-05-20 12:06] dhamaniasad commented on #19
I was able to make some progress on this using the [spacebars-loader](https://github.com/xamfoo/spacebars-loader) package. However, adding that package resulted in a `Template not defined` error thrown in the browser console as I had removed `blaze-html-templates`. Adding that back in throws this error:
[code]

I'm using both React and Blaze in my project, any ideas on how I could proceed @ardatan

[2018-05-20 17:11] ardatan commented on #19
If you use this webpack package, you cannot use other compiler packages, and I had never consider about blaze support which may not work this package as well.
If you really don’t need Webpack with Meteor, you can kee using Meteor’s own packages.
Finally, this is not an issue. Please use stackoverflow, gitter or other similar platforms for your questions; this section on GitHub is for issues, bugs

[2018-05-20 17:11] #19 closed

[2018-05-24 23:57] stolinski opened #20 "How To Run After Compilation"
This might seem like a dumb question, but how do you run your site after compilation. Is the intention to run through webpack or through Meteor.

For clarification, I'm running `webpack -w` and things are compiling fine, but should I be then running `meteor` as well to fire up the server?

[2018-05-25 02:46] #20 closed

[2018-05-25 02:48] ardatan commented on #20
You need to call `meteor` only.
BTW, this section is for bugs and other similar issues. Please use gitter or stackoverflow for support.

[2018-05-25 14:52] stolinski opened #21 "Meteor Packages Undefined When Using Yarn in React Example"
Not sure if this is an issue with the React example in the repo or with the lib.
Steps to reproduce.

1. Clone Repo
2. cd in to examples/react
3. `yarn`
4. `meteor`

Seeing lots of things as undefined

[code]

If you then run with `npm install` instead, everything works fine.

[2018-05-25 16:50] stolinski opened #22 ".babelrc Ignored With Babel 7.0.0-beta & babel-loader 8.0.0-beta"
Steps to reproduce:

Clone and run: https://github.com/stolinski/meteor-webpack-test

You should be seeing an unexpected token error on the first < in jsx.

Same repo compiled fine with example versions of babel but after upgrading the .babelrc file is ignored. This doesn't seem to be a webpack issue though, because if you tell webpack to watch with `webpack -w` everything compiles correctly. The

[2018-05-25 19:05] stolinski commented on #22
Yah. It works with rc 12 and the older Babel loader.

[2018-05-25 20:22] ardatan commented on #22
Ok, then I will investigate this issue.

[2018-05-26 18:51] ardatan commented on #22
Somehow the new babel-loader is not compatible w/ Meteor. If you are using new version of Meteor, Meteor's client bundle cannot be injected to HTML. You can use the older version for now.

[2018-05-26 18:52] ardatan commented on #21
#22 Looks like same problem caused by `@babel/runtime` and `babel-loader`.

[2018-05-26 23:40] stolinski commented on #21
Def not the same issue as #22. This will happen with a React Example in this repo as is with no modifications.

It more resembles #9 where the errors you see are the exact same.

Only happens with yarn, running npm install fixes.

[2018-05-27 00:11] ardatan commented on #21
Npm locks the version in lock file, yarn creates a new one with the latest version of ‘@babel/runtime’. As I experienced same in my project, the latest version of that runtime library breaks the bundle. Somehow Meteor bundler doesn’t inject package scripts into the HTML when latest version of that library installed.
This can be related to Meteor’s bundler, so I will still investigate the reason.

[2018-05-27 02:19] stolinski commented on #21
I'm not getting the same errors from this that I am from the other issue.
I'm running yarn with the older versions of the bundler and babel and it's
giving me these errors. Not the same errors as the other issue.

On Sat, May 26, 2018, 6:11 PM Arda TANRIKULU <notifications@github.com>
wrote:

[2018-05-27 02:40] ardatan commented on #21
I never meant that the errors are same, but the reason is probably same. As I said before, `yarn` installs the latest version just by looking into `package.json` while `npm` looks into `package-lock` for exact version.

[2018-05-28 22:29] stolinski commented on #21
But yarn is adding "babel-loader": "^7.1.4" not "babel-loader@^8.0.0-beta" like in the other issue.

[2018-05-29 13:36] ssilve1989 opened #23 "Cannot read property 'getSourceHash' of undefined"
Hi

When trying to make a production build using the following command
`WEBPACK_CONFIG_FILE=\"webpack.prod.js\" meteor build --architecture=os.linux.x86_64 --allow-superuser --directory .build`
I get the following error:

[code]

I assume its printing twice, one for each bundle, client/server

My webpack configs are pretty simple:

[code]

[code]

[2018-06-03 10:16] shacharsol opened #24 "Uncaught TypeError: Cannot read property 'withTracker' of undefined"
I'm using react with metoer example and the tracker is not working:
Uncaught TypeError: Cannot read property 'withTracker' of undefined
    at Object.eval (App.jsx:161)
    at eval (App.jsx:189)
    at Object../client/ui/App.jsx (bundle.js:812)
    at __webpack_require__ (bundle.js:712)
    at fn (bundle.js:95)
    at eval (main.jsx:9)
    at Object../client/main.jsx (bundle.js:788)
    at __webpa

[2018-06-03 17:46] ardatan commented on #24
Thank you for your collaboration! This issue is due to some changes in Meteor's babel packages, that's why we need to update them by the following command;
[code]
https://github.com/meteor/meteor/issues/9905

[2018-06-03 17:46] #24 closed

[2018-06-03 18:15] ardatan commented on #22
Could you try to run the following command and try again?
[code]

[2018-06-03 18:16] ardatan commented on #21
Could you try to run the following command and try again?
[code]
I think this issue is not related `meteor-webpack`, but Meteor's own packages.

[2018-06-03 18:18] #21 closed

[2018-06-03 19:03] stolinski commented on #21
Have you tried the reproduction steps? I was able to reproduce this several
times with your own demo repo.

On Sun, Jun 3, 2018, 12:18 PM Arda TANRIKULU <notifications@github.com>
wrote:

[2018-06-03 19:46] ardatan commented on #21
Yes, I did. And after I updated the specified packages, it was disappeared.
So, I also updated the packages in ‘react’ example then pushed it in the last commit.
That’s why, I suggested you to update your project or clone like I did to solve this issue.
If you clone the repo again, you will see that it is solved.

[2018-06-03 19:47] ardatan commented on #23
It will be fixed in the next release, so you can use default webpack configuration name and environment variables for detection of production mode as a current workaround.

[2018-06-07 10:53] iperevozchikov opened #25 "Publications and methods are not found in HMR"
Hi, @ardatan.
First of all, thank you for your job, I am very appreciate.

I was integrated your package to my project, and faced with the problem: in development, hot module replacement has a strange behavior. The problem is where the client app receives a hot update from Webpack, while the server is booting up (average boot time around 30sec.), so the client app crashes with errors that publicat

[2018-06-07 15:54] iperevozchikov commented on #25
Upd. I was implemented next algorithm and it has helped me:

[code]
The main purpose of the algorithm is to stop processing DDP messages and them next accumulating for replay in future when the server will be ready. It uses internal Meteor live server mechanisms and looks pretty easy.

[2018-06-07 22:59] ardatan commented on #25
If this patch fixes your issue, I will appreciate for a PR :)

[2018-06-14 17:43] nikhilgoswami opened #26 "after runnig react example I get ReferenceError: Package is not defined"
Steps to reproduce:
 go into examples react
 run meteor npm install
 run meteor

[2018-06-14 21:06] ardatan commented on #26
I need more details such as;
- Where do you get this error?
-- If it is browser; which browser are you working on?
-- If it is server; what is your Operating System?
- What is the whole stack of this error?

[2018-06-15 03:04] nikhilgoswami commented on #26
in browsers console firefox it disappears after few refresh or restart I didn't check on chrome

[2018-06-15 03:11] nikhilgoswami commented on #26
![error](https://user-images.githubusercontent.com/6419060/41448352-c50bfb02-7077-11e8-9e30-c01a51ddd869.png)

[2018-06-18 20:36] alphanumeric0101 commented on #8
Question: I am currently running a Meteor app with no standalone webpack config. The only one I have is the webpack.config.js jus like the one you have in your React example. Is it expected that there is another Webpack file along side this one? I'm just trying to figure out how to get code splitting going (my bundle is well over 1MB) and thought maybe this is the piece I'm overlooking.

[2018-06-18 20:39] ardatan commented on #8
@alphanumeric0101 Webpack runs exactly same way like there is no Meteor. So, you have to look at webpack docs to learn about code splitting and the other stuff related to Webpack.

[2018-06-22 03:38] junlouiegonzales opened #27 "Unable to resolve modules under '/imports' directory"
![image](https://user-images.githubusercontent.com/20350350/41756619-08ae54ca-7610-11e8-9f7f-6a64fc959feb.png)

[2018-06-22 03:52] ardatan commented on #27
Please change '/imports' with './imports' and try again.

[2018-06-22 03:54] #27 closed

[2018-06-22 03:55] ardatan commented on #22
This problem is gone after last updates in both meteor and babel-runtime.

[2018-06-22 03:55] #22 closed

[2018-06-22 05:52] junlouiegonzales commented on #27
Thanks :)

[2018-06-23 06:21] jolim24601 opened #28 "Has anyone dealt with nested imports?"
Working on migrating a meteor 1.7 app to use webpack but I keep getting the nested imports error. Has anyone dealt with this and if so what did you do? Most of the imports are wrapped in `Meteor.isServer` blocks.

[2018-07-05 10:09] ardatan commented on #28
`meteor-webpack` compiles client and server codes seperately. That's why, I recommend you to use seperate endpoints for your client and server code instead of seperating your codes with `Meteor.isServer`, because the blocks in `Meteor.isServer` condition will be compiled for client as well; so this is error prone.

[2018-07-05 10:10] #28 closed

[2018-07-05 10:13] ardatan commented on #26
When HMR is enabled, Meteor will load Webpack's client bundle asynchronously; this is a known problem that I'm still working on; the same situation exists in server as well.
I recommend you to disable HMR or use chrome until we fix it.

[2018-07-07 02:40] jolim24601 commented on #28
Thanks for replying @ardatan . This isn't really a bug however, I was asking for technical advice as I'm dealing with a fairly large codebase. Separating client from server code would be a huge task so I was wondering if anyone has dealt with this issue before. I was thinking potentially of using the [reify babel plugin](https://github.com/benjamn/reify/tree/master/packages/babel-plugin-transform-

[2018-07-10 19:41] michaelcerne opened #29 "Uncaught TypeError: Cannot read property 'Mongo' of undefined"
Hey there,

After testing both the React example and my own application, I'm coming across identical errors:

`Uncaught TypeError: Cannot read property 'Mongo' of undefined`

In the example, Webpack transpiles the code to:

`var Tasks = exports.Tasks = new _mongo.Mongo.Collection('tasks');`

It is attempting to read `_mongo.Mongo`, which I'm fairly certain isn't an object. This prevents the entire

[2018-07-10 20:43] ardatan commented on #29
try to remove devServer field in your `webpack.config` file

[2018-07-10 20:49] michaelcerne commented on #29
@ardatan Looks like that fixed it. Thanks! Any way for me to keep native hot reload functions?

[2018-07-10 20:57] ardatan commented on #29
@michaelcerne you can remove middleware package, and devServer fields in your `webpack.config`. Then, you can work with Meteor's hot-code-push.

[2018-07-10 20:57] #29 closed

[2018-07-12 17:29] michaelcerne commented on #29
@ardatan Thank you. Is there any possibility that you can point me to why this error occurs at all?

[2018-07-12 17:31] ardatan commented on #29
It is a known issue. Browser loads scripts async. That's why. this error occurs if Webpack bundle is loaded before Meteor's one is loaded.
Generally this problem occurs in Firefox, not Chrome.

[2018-07-12 22:43] tjramage opened #30 "Not compatible with module resolver? (babel-plugin-module-resolver)"
We use custom aliases throughout our app in order to make importing modules much easer (see https://www.npmjs.com/package/babel-plugin-module-resolver for more info).

We have defined our custom modules via `.babelrc` (and this works with Meteor). However, I cannot seem to get these to work with this meteor-webpack package. Can you confirm if this is a compatibility issue? Are you able to update t

[2018-07-12 22:49] dobesv commented on #30
You may want to ensure your babel config is being used at all, maybe put something bogus in there to be sure.  In theory the babel plugin will rewrite the absolute imports to relative ones before webpack scans it.  You can also setup the same rules in your `webpack.config.js` as in the `.babelrc` and see if that helps.  I'm just getting started with this stuff myself, though, perhaps someone more

[2018-07-12 22:58] tjramage commented on #30
Hey, thanks @dobesv. Indeed, I did wonder if `.babelrc` was being picked up at all — so I did exactly what you said and put them straight into the `webpack.config.js` instead. However, I still experienced the same issues...

[2018-07-12 23:15] dobesv opened #31 "Cannot use bcrypt in server"
Modifying the example to import bcrypt results in all kinds of errors.  What is the way to use module that webpack / babel don't accept, cannot handle?  It seems like marking them as externals doesn't work because meteor doesn't allow them to be imported.

[code]

I've tried messing around with stuff like the `webpack-node-externals` package but then it seems like nothing in node_modules can be im

[2018-07-13 00:00] ardatan commented on #30
This is not a compability issue at all; because babel inside Meteor’s bundler ‘ecmascript’ uses it. But when you install our package, it replaces its functionality by Webpack. Thus, there will be no babel compiler until you add it to Webpack.
As a result, there are some options to use aliases with Webpack;
First option is that you can use babel-loader by defining same options in ‘babelrc’ file
Or

[2018-07-13 00:06] ardatan commented on #31
I think ‘bcrypt’ is not compatible for browser, so Webpack tries to resolve it as a browser/es2015 module and cannot compile it for browser then.
Try to seperate server code to a different file, and make sure this code is not added to client bundle.
If you still have the issue, please reproduce a repo so I can help you better.
Thanks for contribution!

[2018-07-27 00:18] finder commented on #26
I think that my error above was actually from trying to use the webpack dev server instead of meteor. While I'm still having issues with meteor, I think that the above was fixed by using "meteor run"

[2018-07-27 02:35] ardatan commented on #26
That's normal, because Meteor loads its bundle independently from Webpack's.
I'm closing this issue, then.

[2018-07-27 02:35] #26 closed

[2018-07-27 02:35] #31 closed

[2018-07-27 02:37] #30 closed

[2018-07-28 16:03] vephinx opened #32 "Possible to build client side to static files, and run the meteor server side separately?"
I would like to compile the client side to static files so that I can bundle them in a chrome extension. I would then like to run the meteor server on its own. I thought that this project would help me do this,  but I am not sure how.

I can compile the react example with webpack by doing `npx webpack --config webpack.config.js` but running the index.html page gives me the error `Uncaught Referenc

[2018-07-28 18:06] ardatan commented on #32
I am sorry but this project

[2018-07-28 18:06] #32 closed

[2018-07-29 21:53] alexpriceonline opened #33 "This repo is 🔥"
Thanks so much for the repo @ardatan. This is huge for my application development. If you need any help maintaining this, please let me know. I can help with code or docs etc. 💥

[2018-07-29 22:40] #33 closed

[2018-07-29 22:44] ardatan commented on #33
Thank you very much for your great comments! Feel free to help me contribute this project. There are some issues, I will appreciate if you help :)

[2018-07-31 10:29] filipenevola opened #34 "Should I be able to use Meteor mainModule configuration with meteor-webpack?"
Hello, I tried to add Meteor mainModule configuration in the package.json to not use the imports folder but my main modules were not found on startup.

Should I be able to use Meteor mainModule with meteor-webpack?

You can see the problem here running meteor as usual.
https://github.com/filipenevola/wantch/tree/meteor-main-module

If you want I can create a reproduction here in the React example

[2018-07-31 10:31] filipenevola opened #35 "Is possible to use latest babel packages with meteor-webpack?"
Hello, I tried to update these dependencies
[code]
to use the latest at @babel/ but then I got an error saying that babel-core is missing and it is really missing because I replaced by @babel/core

I think this error in coming from babel-loader, maybe babel-loader is not ready yet or I need to use some beta version of it?

Thanks

[2018-07-31 10:49] Gywem commented on #34
As far as I know the entry points now depend on the webpack configuration file. So you don't have to worry on the way Meteor handles that, just specify the entry points in Webpack, and don't use the import folder if you don't want. Meteor bundler is silented by the `.meteorignore` file, so even if you create other folders for your app code, any change won't make the meteor compiler to re-run.

A s

[2018-07-31 17:28] ardatan commented on #34
Thank you for explanation @Gywem
So, I am closing this issue. Feel free to open a new one if you still have any problem.

[2018-07-31 17:28] #34 closed

[2018-07-31 19:04] filipenevola commented on #34
@ardatan can I send a PR adding this information to the README? As I'm not able to run my Meteor projects without removing this section we need to warn the developers, right?

[2018-07-31 19:06] ardatan commented on #34
Of course!

[2018-08-01 07:26] ardatan commented on #35
I think this is related to `babel-loader`. So you need to use beta version of it.
https://github.com/babel/babel-loader#install

[2018-08-01 07:26] #35 closed

[2018-08-09 15:19] alexpriceonline opened #38 "Working with tests?"
I love the DX of using webpack here, but I can no longer run my tests with the `meteor test` command.  I'd been using the `meteortesting:mocha` driver for 6 months without issue until I changed to using webpack. Now I get the error:

[code]

Any ideas how to get this up and running again? I'm happy to contribute if you point me in the right direction!

[2018-08-20 13:36] jlmbaka commented on #4
Hi @ardatan, I am experiencing the same problème and I cannot seem to find the accepted solution to this problem. Can You tell me how to fix this problem ?

[2018-08-21 12:52] filipenevola commented on #4
Hello @aliogaili and @jlmbaka, I'm able to use like this:
[code]
with this setup on webpack
[code]
I believe in your case you just need to find/replace all imports in your source code from `/imports/` to `imports/` (removing the first slash)

[2018-09-12 01:28] ardatan commented on #38
Never tested with any testing package like `meteortesting:mocha`. It's supposed to handle the compiled code. So, you're welcome to contribute this project :) Thank you!

[2018-09-23 15:10] Deadly0 opened #40 "Bug while importing jagi:astronomy package"
I have configured webpack and it works well, but when i try to import [jagi:astronomy](https://atmospherejs.com/jagi/astronomy) empty object is the result of the import. At the same time i can import reywood:publish-composite and other packages. Example

[code]

Any ideas why it happened and how to fix it
Thx!

[2018-09-25 18:51] ardatan commented on #40
How about importing like
[code]

[2018-09-25 21:00] ardatan commented on #40
Could you share the result of `Package['jagi:astronomy']`?

[2018-09-26 11:15] Deadly0 commented on #40
@ardatan `Package['jagi:astronomy'] === {}`

[2018-09-26 11:29] ardatan commented on #40
So, it is not undefined and returns empty object. It doesn’t look like related to meteor-webpack; because there is no export in it.

[2018-09-26 11:52] Deadly0 commented on #40
@ardatan Any ideas why it happened? I clearly see export in main Astronomy file

[code]

[2018-09-28 12:37] Deadly0 commented on #40
@ardatan выглядит как эта ошибка не с jagi: астрономия, но с метеорной ленивой загрузкой. В последней версии jagi: астрономия использует ленивую загрузку. Старая версия jagi: astronomy@2.5.8 без ленивой загрузки отлично работает с webpack. Я предполагаю, что эта ошибка затрагивает все пакеты, которые используют ленивую загрузку.

[2018-10-24 17:29] jbbr commented on #40
As a workaround for jagi astronomy I created a local package in `./packages/disable-dynimport` which imports astronomy using Meteor imports and makes all exports available through `Packages` global.
This way astronomy is available in webpack as well.

This does mean, that all advantages of lazy loading are gone.

Code:

[code]

Not a solution, but a working workaround. Better then nothing...
Still

[2018-11-09 10:44] nicu-chiciuc opened #41 "Cannot use `aldeed:schema-index`, getting error "index" is not a supported property"
I'm having this issue with `aldeed:schema-index` although I think the same issue would apply also to other meteor packages. Basically what this package does is add several options to SimpleSchema.
[code]

The problem is that I'm getting the following error:
[code]

I've tried to use your example of React by adding `simple-schema` and I'm getting the exact same error.
It seems like the meteor packa

[2018-11-09 21:07] ardatan commented on #41
Does this work well without webpack?

[2018-11-11 08:10] nicu-chiciuc commented on #41
Yes, I think it might have something to do with the fact that [`simpl-schema`](https://github.com/aldeed/simple-schema-js#installation) is installed using npm and the [aldeed:schema-index](https://github.com/aldeed/meteor-schema-index) is installed using atmosphere and it basically extends the package from npm.

[schema-index  common.js](https://github.com/aldeed/meteor-schema-index/blob/master/pa

[2018-11-28 00:04] pmogollons commented on #41
I just had this issue too. It might be possible that schema-index loads first and the simpl-schema gets loaded and reconfigured somehow and that removes the extended options.

Im going to try to add package functionality in app code and check if that works.

@nicu-chiciuc where you able to find a solution?

[2018-11-28 01:09] pmogollons commented on #41
I was able to workaround the schema-index issue by not importing the schemas in the client code.

[2018-12-05 14:58] powderham opened #42 "Handling separate dev and prod configs"
Hi @ardatan - firstly, thanks a lot for creating this, it's really a great tool.

I have implemented a standard config, I'll write it out at the bottom in case you're interested.

If I want to define certain plugins by environment, such as `devtool: "inline-source-map"`, how do I do that?

I am receiving the error: `Cannot read property 'getSourceHash' of undefined (at Object.processFilesForTarget

[2018-12-06 13:44] powderham commented on #38
@alexpriceonline did you ever find a solution for this?

I cloned the repo, installed the package locally, passed a flag in my settings `testEnv` and then prevented `webpack-dev-middleware` from running. So whilst I didn't get an error, now I have no tests to run, I suspect that webpack is tree shaking them, or something similar so they're not checked

[2018-12-07 00:11] ardatan commented on #42
So you have to tell `meteor-webpack` which configuration should be used. Otherwise, it will try to import `webpack.config.js` that doesn't exist in your project :)

[2018-12-07 00:12] ardatan commented on #41
Can you share your webpack configuration?

[2018-12-07 12:02] arichter83 opened #43 "With TypeScript the meteor packages can't be found"
How can I let the `ts-loader` be aware of the Meteor packages? If I have a ts / tsx file, I get the following error when using `import { withTracker } from 'meteor/react-meteor-data';`:

[code]

This is my `webpack.config.js`:

[code]

And this my `tsconfig.json`:

[code]

Any thoughts? Help is appreciated.

[2018-12-07 12:04] ardatan commented on #43
It is related to TypeScript, so you have to install required typings. I am not sure if there is a correct typing package or something like that. But for now, you can add ```
declare module 'meteor/react-meteor-data' {
  var x: any;
  export = x;
}
[code]

[2018-12-07 12:04] #43 closed

[2018-12-07 15:01] arichter83 commented on #43
Great! Thank you.

[2018-12-14 11:13] gkhristian opened #44 "Angular example not working"
Hello,

After a while of trying to execute the Angular example I could not run it successfully. I have found two issues:
Missing "require-from-string" dependency (after installing it is gone).
And wrapper the Meteor.publish with Meteor.isServer (was trying to execute in client and crashing):
[code]

After fixing this to small issues I got:
[code]

[2018-12-28 10:30] #38 closed

[2019-01-01 21:34] moslemir opened #50 "dynamicImport not work in vue router"
hello.
happy new year.

my bug:

router.js:1 Uncaught Error: Module build failed (from ./node_modules/babel-loader/lib/index.js):
SyntaxError: E:\Meteor\webpack\vuetify\imports\FrontEnd\router.js: Support for the experimental syntax 'dynamicImport' isn't currently enabled (1:21):

    |                     ^
  2 | const Home = () => import('./Home.vue');
  3 | const Content = () => import('./Conte

[2019-01-18 12:45] Deadly0 commented on #25
@ardatan @iperevozchikov i have create a PR to fix this issue, please look at it https://github.com/ardatan/meteor-webpack/pull/52

[2019-01-18 21:18] rclai opened #53 "module.hot.accept not working in the server"
I noticed you had example code that did this on the client, so I tried to use it on the server, but it doesn't seem to work. Is it supposed to work?

[2019-01-18 21:19] ardatan commented on #53
Server side HMR doesn't have that kind of PR.

[2019-01-18 21:20] rclai commented on #53
Thanks for the fast response.

[2019-01-18 21:20] #53 closed

[2019-01-21 15:27] Deadly0 commented on #25
@ardatan can you please publish version with this fix to atmosphere?

[2019-02-11 11:11] andreasemprebon commented on #24
Hi @s7dhansh ,
check if the meteor package `react-meteor-data` is installed (look into `.meteor/packages`).

If not, install it, this should fix the issue:
`meteor add react-meteor-data`

[2019-02-11 11:25] s7dhansh commented on #24
@andreasemprebon The package is already installed. Everything is working without webpack. Error comes with webpack.

[2019-02-11 17:50] andreasemprebon commented on #24
@s7dhansh I came across the same issue today and my (trivial) mistake was not having the `react-meteor-data` installed.
Have you tried reinstalling all meteor packages?
I don't want to give you false suggestions, I replied because my error was the same and has been trivially resolved. I have a feeling that the issue is not in webpack itself but in a strange condition in which your project is now.

[2019-03-14 16:04] #15 closed

[2019-03-25 07:34] ardatan commented on #44
Could you try it with the latest version?
Feel free to open this issue again if the problem still persists.

[2019-03-25 07:34] #44 closed

[2019-03-25 07:35] #42 closed

[2019-03-28 14:17] s7dhansh opened #61 "Error: Can only call onCreateUser once"
I am getting this error while using `Accounts.onCreateUser` in my server files.
I am using HMR on both server and client.

[2019-03-28 14:18] s7dhansh opened #62 "Methods not found when NOT using HMR on server"
With HMR, everything works properly.

[2019-03-28 17:08] abecks commented on #61
Are you using the latest version of meteor-webpack? Can you provide me with your package list?

[2019-03-29 07:16] s7dhansh commented on #61
Yes, I have git cloned the latest master.

[code]

[2019-03-29 07:19] abecks commented on #61
Ok. Sounds like we need to take a look and find where the onCreateUser hooks are stored, and add them to the server cleaning logic in `webpack-dev-server`. I'll take a look at this when I can, feel free to submit a PR in the meantime.

[2019-04-02 09:13] s7dhansh commented on #61
Thank you.

https://github.com/ardatan/meteor-webpack/pull/63 fixes it. I have not been able to test it properly as I am still struggling with using webpack with my app. But at least that error has been resolved.

[2019-04-02 09:13] #61 closed

[2019-04-02 11:03] s7dhansh opened #64 "dynamic import at top level fails"
A)
[code]

fails with an error:
[code]

If I remove the Promises, it works:
B)
[code]

Ironically enough, if I replace (B) with (A) now (while meteor is running), the app starts working. It fails again when I restart meteor. Can someone guide me on fixing/debugging this?

[2019-04-02 16:47] abecks commented on #64
I don't believe Meteor's dynamic import functionality will currently work with this package. Some more work is likely required. You might be better off using webpack's code splitting functionality.

[2019-04-02 17:30] s7dhansh commented on #64
How do I do that?
Webpack's code splitting with dynamic imports also uses the same syntax, right? Should I remove dynamic-import from meteor packages?

[2019-04-02 17:32] abecks commented on #64
To be honest I'm not sure, as I haven't used it before. If you have any
luck, please let me know.

On Tue, Apr 2, 2019 at 10:30 AM Sudhanshu <notifications@github.com> wrote:

[2019-04-03 01:27] ardatan commented on #64
@s7dhansh @abecks Meteor-Webpack supports dynamic imports by serving chunks as assets;
https://github.com/ardatan/meteor-webpack/blob/1f6796743d226c6fb65e5cf4f5c16e24ef3c3c71/atmosphere-packages/webpack/plugin.js#L129

I think there is a problem in dev-middleware package.

[2019-04-03 05:45] s7dhansh commented on #64
@ardatan sorry I have very limited understanding of what you are saying. Can you let me know a fix that I can try?

[2019-04-03 15:09] s7dhansh opened #66 "Error: Meteor code must always run within a Fiber"
I get this error when I use `Meteor.user()` inside `withTracker` functions, **only on server**.

[code]
It happens at this line in the `react-meteor-data` package: https://github.com/meteor/react-packages/blob/796a075a4bbb36212e6a74c9f3576b119d31c474/packages/react-meteor-data/ReactMeteorData.jsx#L34

Meteor.bindEnvironment can't be used because it eats up the return values.

Any ideas for solving

[2019-04-08 02:22] kadensungbincho opened #67 "meteor test not work"
I tried to test meteor with
`meteor test --driver-package meteortesting:mocha --test-app-path $(pwd)/.meteortest`

but it endlessly showed
`I20190408-11:20:22.005(9)?
I20190408-11:20:22.005(9)? --------------------------------
I20190408-11:20:22.006(9)? ----- RUNNING SERVER TESTS -----
I20190408-11:20:22.006(9)? --------------------------------
I20190408-11:20:22.006(9)?
I20190408-11:20:22.006(9)?

[2019-05-03 07:30] #50 closed

[2019-05-10 21:36] JonathanLehner opened #69 "meteor android app"
I tried the react demo with meteor run android
it says

I20190510-23:35:40.409(2)? 05-10 23:35:24.782  4214  4214 I chromium: [INFO:CONSOLE(1)] "Uncaught SyntaxError: Unexpected token <", source: http://localhost:12296/app.js (1)

[2019-05-10 21:37] JonathanLehner commented on #69
the react demo from the examples folder

[2019-05-11 15:29] Shiadra commented on #67
I'm also having the issue that meteor test hangs up after running server tests.
In my case it started working again after removing "@import '~bootstrap/scss/bootstrap';" in my main .scss and using the precompiled bootstrap.css. So my guess is that it is some issue with css.

[2019-05-20 23:12] arichter83 opened #70 "react-dom included twice?"
When I run `meteor --extra-packages bundle-visualizer --production` I see `react-dom.production.min.js` (106kb) included and an extra `main.bundle.js` (599kb). When I run
`webpack-bundle-analyzer stats.json dist` I get what the main bundle (here 589kb) is made of, included is `react-dom.production.min.js` (103kb).

How can I find out where the duplicate comes from? Imho the meteor bundler should n

[2019-05-24 13:01] s7dhansh commented on #19
Too late to the party, but those who wish to do this can use https://github.com/settlin/node-monorepo/tree/master/spacebars-loader, via the procedure mentioned therein.

[2019-05-30 09:56] arichter83 opened #71 "Multiple entry points"
I get this error:
[code]

For this config:
[code]

Can be fixed by:
[code]

I will create a PR to fix it.

[2019-05-31 07:50] dc165015 commented on #19
@s7dhansh you save my days!

[2019-05-31 09:41] s7dhansh commented on #19
@dc165015 good that it works for you!
There are still some problems that I have not been able to figure out till now. Sometimes the hot update does not work (times out, despite giving a high time out value), and the only option is to force a meteor reload (either restarting or simply changing some dummy things in webpack config). Because of this webpack is still unusable in my huge project that co

[2019-05-31 10:30] dc165015 commented on #19
@s7dhansh I am working on a AngularIonic/Meteor project which combines of 3 sub-projects: client/api/admin. And I don't use Meteor client, but only meteor packages. So there is no hot update yet.  Thank you!

[2019-06-10 13:09] powderham commented on #42
Hi @ardatan I'm taking a look at this again.

How exactly is one supposed to specify `WEBKACP_CONFIG_FILE`, like the following?:

[code]

[2019-06-11 09:23] Shiadra opened #73 "DevServer does not restore Accounts hooks and settings"
I have currently an issue with the dev-server. While using it, it looks like the Accounts hooks and options are getting cleaned but not restored correctly.'

E.g. when setting a breakpoint in Meteor.startup Accounts._options has values. However afterwards they get cleaned and results in  `Accounts._options = {}` the validateNewUser hook is also removed.

**packages:**
`# Meteor packages used by th

[2019-06-14 12:13] arichter83 opened #74 "How to watch for changes of static files?"
I have some static HTML files in /public - if I change a file, and reload the browser, the file is not updated. I need to restart the server or a bundle rebuild to get the new version.

I tried without success:

[code]

[2019-06-14 19:41] onhate commented on #23
hi @ardatan, is there something I can do to help releasing a new version with this fix?

[2019-06-14 21:08] onhate opened #75 "How to bundle meteor packages on a single file?"
Hi,

First of all, thank you so much community and @ardatan for this awesome project, I really love DDP and that's all, I don't think MDG should build all stuff from scratch, but...

My question is if it's possible to bundle all meteor packages into a single bundle so I can work with chunks. Now my build has ~30 script files all coming from /packages/

![image](https://user-images.githubuserconten

[2019-06-19 12:48] powderham commented on #23
I came across this bug yesterday, the problem is with how you're specifying the webpack config, it shouldn't have quotes:

`WEBPACK_CONFIG_FILE=webpack.prod.js`

[2019-06-24 15:40] arichter83 commented on #70
I couldn't find duplication in the production bundle so probably it is fine.

[2019-06-24 15:40] #70 closed

[2019-07-07 11:07] promentol opened #76 "Accounts not working"
Meteor.loginWIthPassword methods is always returning an error. After debugging I see Accounts._loginHandlers is an empty array [], after server code push.

Here are the versions.
METEOR@1.8.1
ardatan:webpack@0.0.11
ardatan:webpack-dev-middleware@0.0.11
accounts-base@1.4.4
accounts-password@1.5.1

[2019-07-07 13:01] promentol commented on #73
@Shiadra have you found workrground on this?

[2019-07-08 11:35] Shiadra commented on #73
No, not really. Right now I'm not using the dev-sever which is quite annoying as I cannot use hot reloading. Once i find some spare time I'll try to take a closer look.
If someone has an idea why this does not work properly, please let me know. Any help would be appreciated.

[2019-07-22 02:47] stolinski commented on #76
Are you seeing the error `Unrecognized options for login request`? I’m getting that myself on every loginWithPassword call.

[2019-07-22 11:14] promentol commented on #76
Yes, and I have solution

just in .meteor/packages, put  ardatan:webpack and ardatan:webpack-dev-middleware to the end of the file.

[2019-07-22 19:25] #76 closed

[2019-08-03 19:28] Discordius opened #78 "Javascript heap out of memory error"
Hey, I am getting the following error when trying to use HMR on my current bundle:

[code]

I have experience with this error and usually fix it by setting the environment variables `TOOL_NODE_FLAGS` and `NODE_OPTIONS`, but it appears that neither of them gets properly passed through to the webpack node instance.

Is there any way to properly pass through those environment variables?

[2019-12-06 14:17] GabrielDuarteM opened #81 ".babelrc ignored when upgrading babel to a version greater than 7"
Hi 👋 👋

It's nice to see efforts to make an integration between meteor and webpack possible! On our company, we wanted to try this out, but we are getting some weird errors when updating babel to the latest version, and in fact, its the same problem as #22, but updating meteor and babel runtime did not solve in my case...
I have a reproducible repo at https://github.com/GabrielDuarteM/meteor-webpa

[2019-12-16 21:35] informedecommerce opened #82 "Cordova:HCP Issue"
Latest versions of everything as of 12/26/19
Meteor 1.8.2

We are getting what appears to be build.js not found on native devices. HCP works as expected in browser.

initial app(ios and android) load works, but subsequent loads fail by returning the cordova index.html html as the build.js file content.

After doing research it seems that cordova will return the index.html file as the missing reque

[2020-01-03 11:19] atomoc commented on #23
Make sure that there is a line in the .meteorignore file:
`!webpack.prod.js`

[2020-01-05 18:45] jbbr commented on #67
Same here. Meteor/Mocha doesn't seem to find any tests when ardatan webpack package is enabled.
This can be reproduced with example "react" from this repo.

Removing (s)css-imports didn't fix the issue for me, have you found any solution/workaround in the meantime, @kadensungbincho @Shiadra ?

[2020-01-06 11:39] mathieustan commented on #67
Same issue here.

[2020-01-10 20:16] bensventures commented on #66
Having the same problem, on the server as well, in both with and without HMR. I have Meteor methods calling some async functions and that seems to break.

[2020-01-10 20:34] bensventures commented on #66
So right after writing my previous comment I remembered having faced a similar issue in the past, before I used this package. It seems that using babel to transpile your code for the `current` version of node breaks Fibers somehow. If you change it back to node 8, the same that Meteor is running now, it works.

So in other words I had this as part of my babel config:

[code]
and I changed it to:
[

[2020-01-16 04:36] CaptainN opened #83 "Using to create additional (not alternative) build targets?"
Hi! I love your project!

What I'd love to do is use it to create a bundle to be used by react-native (or maybe nativescript through SvelteNative or VueNative). But I also want to continue using the Meteor bundle for server and web.

Would a configuration like that be possible?

[2020-01-20 10:31] bensventures opened #84 "Legacy build doesn't use html template"
Just migrated a large project that was using a custom version of https://github.com/thereactivestack-legacy to your package and everything seems to work... except web.browser.legacy production bundles :)

For some reason the html created by
[code]
does not appear. I just get a bare `<head />` and `<body />`  with links to css and js. Any ideas or pointers to debug this?

[2020-02-13 15:29] lauff opened #85 "cannot find module 'webpack'"
I tried to run the react example from this repository, but Meteor exits with

=> Exited with code: 1
W20200213-15:27:10.232(0)? (STDERR) /root/.meteor/packages/meteor-tool/.1.8.1.1a5ebbe.mcw0j++os.linux.x86_64+web.browser+web.browser.legacy+web.cordova/mt-os.linux.x86_64/dev_bundle/server-lib/node_modules/fibers/future.js:280
W20200213-15:27:10.233(0)? (STDERR)

[2020-02-13 15:45] lauff commented on #85
no idea why - but it is working now...

[2020-02-14 16:38] lauff commented on #85
strange, now I get the error again - using the same project on different PCs

[2020-02-23 00:09] moslemir opened #86 "error run meteor after upgrade from 1.8.0.1 to 1.9"
my error:
`
E:\Meteor\.meteor\packages\meteor-tool\1.9.2\mt-os.windows.x86_64\dev_bundle\lib\node_modules\meteor-promise\promise_server.js:218
      throw error;
      ^

SyntaxError: Unexpected token < in JSON at position 109
    at JSON.parse (<anonymous>)
    at E:\Meteor\.meteor\packages\meteor-tool\1.9.2\mt-os.windows.x86_64\tools\fs\tools\fs\optimistic.ts:321:17
    at wrap.makeCacheKey (E:\

[2020-02-25 10:27] moslemir commented on #86
@ardatan

[2020-03-27 18:20] gustawdaniel opened #88 "In vue example packages are outdated"
I propose update

[code]

Now

[code]

[2020-03-27 18:21] gustawdaniel commented on #88
Additionally

[code]

[2020-03-27 18:22] ardatan commented on #88
PRs are welcome :)

[2020-03-27 18:58] gustawdaniel commented on #88
There is problem:

[code]

This problem is discussed there

https://github.com/symfony/webpack-encore/issues/311

More info

https://vue-loader.vuejs.org/migrating.html#notable-breaking-changes

In my pull request I do not updated to `vue-loader 15`.

[2020-04-15 09:42] Fanaticys opened #90 "withTracker is `undefined` starting from react-meteor-data@2.0.0"
It works with react-meteor-data@1.0.0 but starting from 2.0.0 `withTracker` is `undefined`.
[code]

[code]

[2020-05-22 21:13] ecofriend opened #91 "module.exports = Package[‘mongo’]; Package not defined."
I'm trying to use  webpack-meteor-externals npm package with Cypress, which already has a version of webpack-processor (https://github.com/cypress-io/cypress-webpack-preprocessor) available.

However, when I try
[code]
I get an error message that says Package in "module.exports = Package[‘mongo’]" is not defined.  Without webpack-meteor-externals, I get an error saying "meteor/mongo" module is not

[2020-06-11 09:50] far1s commented on #81
@ardatan Any chances you guys could take a look on this? It is really a pity we cannot use this package for Meteor projects with babel 7. Using an old version (babel 6) is not an option for us.

[2020-07-04 22:52] marsimeau opened #92 "WebApp.addHtmlAttributeHook hooks are not cleared on HMR updates"
When calling a `WebApp.addHtmlAttributeHook`, previous hooks are not cleared upon HMR updates.

It's worth noting that this doesn't seem to any negative impact on my app.

Test done locally:

[code]

Here is what the console returns after 2 updates on each request:

[code]

[2020-07-29 02:14] schlaegerz commented on #90
Is there any fix for this?

[2020-08-11 07:57] Fanaticys commented on #90
After my investigations, I clarified that it happens in 2.0.1 version of react-meteor-data package. The reason why I mention 2.0.0 is that even I install react-meteor-data by specifying exact version 2.0.0 the latest version (currently 2.1.1) is installed. Also the reason of issue is new feature `{ lazy: true }` in 2.0.1 version in package.js file of react-meteor-data package. Really I don't know

[2020-08-19 19:26] schlaegerz opened #93 "Help with automatically bundling sass files"
I am attempting to move from the meteor build system to this package, but I am having trouble figure out how to automatically include the scss file like meteor does with fourseven:scss

<id>.css?meteor_css_resource=true

I have tried including a sass-loader
 {
          test: /\.s[ac]ss$/i,
          use: ['style-loader','css-loader', 'sass-loader']
 },

but I think I'm missing a step or two for i

[2021-03-01 13:07] #88 closed

[2021-03-14 11:53] gerkensm commented on #75
Did you ever find a solution to this problem?
We have the related problem that the Meteor/Atmosphere packages are not processed by babel. I cannot install the `ecmascript` packages to transpile them to ES5 within Meteor as this conflicts with the `meteor-webpack` package. As babel treats them as externals, I don't think I can specify how to transpile them anywhere.
My hope is that if you found a w

[2021-08-07 10:23] ardatan commented on #93
This package replaces Meteor's build system with Webpack so you cannot mix other build plugins with Webpack's.

[2021-08-07 10:23] #93 closed

[2021-08-30 09:40] renovate[bot] opened #106 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/ardatan/meteor-webpack).

## PR Edited (Blocked)

The following updates have been manually edited so Renovate will no longer make changes. To discar

[2021-12-02 04:14] cafe4it opened #109 "Example vue show blank page"
I run the Vue example, it shows a blank page

[2022-01-26 07:45] kirohuji commented on #109
me too

[2022-08-24 01:15] VitaminC1211 opened #114 "Meteor.js(react) shows a blank page after adding webpack."
I  added webpack to my meteor.js project with a hard time. and successfully runing now. but I'm facing now another issue.

Here is my `webpack.config.js` file

[code]

and `.babelrc`

[code]

![image](https://user-images.githubusercontent.com/74626440/186296061-a273cb38-a6ef-42d0-8f12-005ffb45563f.png)

Compiled successfully but I can't see anything on browser.

This is original my meteor project,